/* Стиль для .navbar */
.navbar {
  display: flex;
  justify-content: flex-start; /* Логотип слева, остальные элементы по центру */
  align-items: center; /* Центрируем элементы по вертикали */
  gap: 15px; /* Меньше отступов между элементами */
  padding: 10px 20px; /* Меньше отступов по бокам */
  background: #f5f2f2;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для добавления объема */
}

/* Стиль для логотипа */
.logo img {
  width: 100px; /* Размер логотипа */
  height: auto;
  margin-right: 20px; /* Отступ справа от логотипа, если нужно */
}

/* Для ссылок внутри .navbar */
.navbar a {
  color: #010000;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px; /* Увеличиваем размер шрифта */
  padding: 5px 10px; /* Добавляем небольшие отступы внутри */
  border-radius: 5px; /* Скругляем углы */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные анимации */
}

/* Эффект при наведении на ссылки */
.navbar a:hover {
  background-color: #ffffff; /* Цвет фона при наведении */
  transform: translateY(-5px); /* Легкое поднятие текста */
  box-shadow: none; /* Убираем тень на ссылках при наведении */
}

/* Убираем подсветку при наведении на логотип */
.navbar .logo:hover {
  background-color: transparent; /* Убираем подсветку при наведении */
  transform: none; /* Убираем эффекты трансформации */
}