.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  background: linear-gradient(135deg, #3a3a3a, #1c1c1c);
  border-radius: 30px;
  font-family: 'Cascadia Mono', monospace;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: background 0.3s ease; /* Плавный переход для navbar */
}

.navbar a {
  color: #e0b3c7;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Cascadia Mono', monospace;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.navbar a:hover {
  background-color: #f4c2d5;
  color: #fff;
  transform: translateY(-5px);
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}

.navbar .logo img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  transition: transform 0.3s ease; /* Плавное изменение логотипа */
}

.navbar .logo:hover {
  transform: scale(1.1);
}