.footer {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* добавили вертикальное выравнивание */
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    background: #fef7fa;
    border-radius: 20px;
    font-family: 'Cascadia Mono', monospace;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.06);
    width: 75%;
    max-width: 1000px;
    border-top: 4px solid #181717;
    border-bottom: 4px solid #181717;
    z-index: 50;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    color: #322e36;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    cursor: default;
    margin-bottom: 10px; /* отступ от заголовка до ссылок */
}

.footer-links {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* отступ перед текстом внизу */
}

.footer-links a {
    color: #322e36;
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 14px;
}

.footer-links a:hover {
    color:  #a16480;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.footer-links img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, filter 0.3s ease; /* добавляем плавное изменение позиции */
    pointer-events: auto;
}

.footer-links img:hover {
    transform: translateY(-5px); /* приподнимаем иконку */
    filter: brightness(1.2); /* добавляем эффект яркости */
}

.footer-links img:focus,
.footer-links img:active {
    outline: none;
    box-shadow: none;
}

.footer-bottom {
    font-size: 12px;
    color:  #a16480;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
    margin-top: 0;
    margin-left: 10px;
    white-space: nowrap;
    text-align: center;
}

.contact-me {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #322e36;
    cursor: pointer;
}

.contact-me:hover {
    color: #f4c2d5;
}